div {
    border-radius: 8px;
    border: 1px solid #bdbdbd;
    display: flex;
    align-items: center;
    padding: 12px;
}

img {
    width: 24px;
}

input {
    padding: 0 10px;
    outline: none;
    border: none;
    flex-grow: 1;
    flex-shrink: 1;
}

input::placeholder {
    color: #828282;
    font-family: Noto Sans sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
}

button {
    border-radius: 8px;
    background: #2f80ed;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    filter: brightness(120%);
}

#password-validation-message {
    display: block;
    margin-top: 5px;
    color: #c73e1d;
    font-size: 12px;
    font-family: Noto Sans sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    visibility: none;
    user-select: none;
    opacity: 0;
}

.error {
    visibility: visible !important;
    user-select: all !important;
    opacity: 1 !important;
}

@media screen and (max-width: 550px) {
    main {
        width: 95%;
        padding: 35px;
    }

    div {
        padding: 8px;
    }
    p {
        font-size: 15px;
    }
}
